# Name :- Soham Kadam
# Roll No:- 22135
# Batch :- F5

In [1]:
import pandas as pd

In [2]:
roll_no=[]

In [3]:
student_div=[]

In [4]:
student_name=[]

In [5]:
marks=[]

In [6]:
n=int(input('How many records you want to enter'))

How many records you want to enter 10

In [7]:
for i in range(0,n):
    print("\n",i+1,"student")
    print("\nRoll no=")
    rollno=int(input())
    print("\nDiv=")
    div=input()
    print("\nName=")
    name=input()
    print("\nMarks=")
    m=float(input())
    roll_no.append(rollno)
    student_div.append(div)
    student_name.append(name)
    marks.append(m)

 1 student

Roll no=

 1

Div=

 A

Name=

 A

Marks=

 85

 2 student

Roll no=

 2

Div=

 A

Name=

 B

Marks=

 92

 3 student

Roll no=

 3

Div=

 A

Name=

 C

Marks=

 83

 4 student

Roll no=

 4

Div=

 A

Name=

 D

Marks=

 91

 5 student

Roll no=

 5

Div=

 A

Name=

 E

Marks=

 97

 6 student

Roll no=

 6

Div=

 A

Name=

 F

Marks=

 84

 7 student

Roll no=

 7

Div=

 A

Name=

 G

Marks=

 100

 8 student

Roll no=

 8

Div=

 A

Name=

 H

Marks=

 96

 9 student

Roll no=

 9

Div=

 A

Name=

 I

Marks=

 84

 10 student

Roll no=

 10

Div=

 A

Name=

 J

Marks=

 100

In [8]:
print("Rollno=",roll_no)
print("Student_Div=",student_div)
print("student_name=",student_name)
print("Marks=",marks)

Rollno= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Student_Div= ['A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A', 'A']
student_name= ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
Marks= [85.0, 92.0, 83.0, 91.0, 97.0, 84.0, 100.0, 96.0, 84.0, 100.0]

In [9]:
df=pd.DataFrame({'rollno':roll_no,
                'student_div':student_div,
                'student_name':student_name,
                'marks':marks})

In [10]:
print(df)

   rollno student_div student_name  marks
0       1           A            A   85.0
1       2           A            B   92.0
2       3           A            C   83.0
3       4           A            D   91.0
4       5           A            E   97.0
5       6           A            F   84.0
6       7           A            G  100.0
7       8           A            H   96.0
8       9           A            I   84.0
9      10           A            J  100.0

In [11]:
df

   rollno student_div student_name  marks
0       1           A            A   85.0
1       2           A            B   92.0
2       3           A            C   83.0
3       4           A            D   91.0
4       5           A            E   97.0
5       6           A            F   84.0
6       7           A            G  100.0
7       8           A            H   96.0
8       9           A            I   84.0
9      10           A            J  100.0

In [12]:
path=r'file_22135.xlsx'

In [13]:
path1=r'file_22135.csv'

In [14]:
df.to_csv(path,index=0)

In [15]:
df.to_csv(path1,index=0)